* {
    margin: 0;
    padding: 0;
}

.headcalend {
    widows: 100%;
    height: 100px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.buttoncase {
    display: flex;
    margin-top: 50px;
}

.buttoncase > div > button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #0371C7;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}

.search_inputcase {
    display: flex;
    margin-top: 50px;
}

.search_inputcase > div > img {
    padding: 7px 3px;
}

.search_input {
    width: 200px;
    border: 1px solid #B1B1B1;
    border-radius: 3px;
    margin: 0 5px;
    padding: 5px 10px;
    border-top: 2px solid #B1B1B1;
}

.calend {
    width: 84%;
    margin: 0 auto;
    border-collapse: collapse;
}

caption {
    display: flex;
    padding: 20px 0;
    width: 30%;
}

caption > div {
    margin: 5px;
}


/*thead tr td {
    border: none;
}*/

.prev  {
    text-align: right;
}

thead > tr {
    height: 150px;
}

.prev > button,
.next > button {
    border: 1px solid #B1B1B1;
    border-radius: 3px;
    margin: 0 5px;
    background-color: #F4F4F4;
    padding: 3px 5px;
}

.name_month_text {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

tbody {position: relative;}


.calend td {
    width: 12%;
    height: 150px;
    border: 1px solid lightgray;
    padding: 10px;
    vertical-align: top;
    
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
}

#container_form {
    width: 350px;
    border: 1px solid lightgray;
    position: relative;
    box-shadow: 0 0 5px #000;
    display: none;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
}

#container_form::after,
#container_form::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -11px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 5px #000;
    /* Добавляем тень для уголка */
    z-index: -1;
    /* Прячем за основным блоком */
    transform: rotate(45deg);
    /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
}

#container_form::before {
    z-index: 1;
    /* Накладываем поверх, чтобы скрыть следы тени */
    box-shadow: none;
    /* Прячем тень */
}

#container_form > div > div {
    margin: 20px;
}

.form_inputcase_sobytie > input,
.form_inputcase_opisanie > textarea {
    width: 250px;
    border: 1px solid #B1B1B1;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    border-top: 2px solid #B1B1B1;
    font-family: "Ubuntu", sans-serif;
}

.submit_form > input {
    border: 1px solid gray;
    background-color: #F4F4F4;
    border-radius: 5px;
    margin: 0 5px;
    padding: 4px 7px;
}

/*.container_form {
    opacity: 0;
    position: absolute;
    left: 100%;
    top: -999px;
    transition: .3s opacity;
}*/

/*
tbody > tr {
    position: relative;
}

tbody > tr:hover > .container_form {
    opacity: 1;
    top: 0;
}

tbody > tr > td::after {
    position: absolute;
    right: 10px;
    content: "";
    border: 5px solid;
    border-color: transparent transparent transparent #fff;
    top: 50%;
    transform: translateY(-50%);
}
*/


#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}


.calend tbody td.today {
  background: #F4F4F4;
    font-weight: bold;
}

/* свойства модального окна по умолчанию */

.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
}

/* при отображении модального окно */

.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}

/* свойства для блока, содержащего контент модального окна */

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */

.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

A:link { 
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
   A:visited { text-decoration: none; } 
   A:active { text-decoration: none; }
   a {
    color: black; /* Цвет ссылки */
   }

